:root {
  --bg-primary: #e8e9eb;
  --bg-accent: #570df8;

  --dark-bg-neutral-focus: #242b33;
}

.react-datepicker {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
}

.react-datepicker__month-container,
.react-datepicker__header {
  background-color: var(--bg-primary);
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #1f2937;
}

.react-datepicker__day--selected {
  background-color: var(--bg-accent);
  color: #a6adba;
}
.react-datepicker__day--selected:hover {
  background-color: var(--bg-accent);
  color: #a6adba;
}

@media (prefers-color-scheme: dark) {
  .react-datepicker__month-container,
  .react-datepicker__header {
    background-color: var(--dark-bg-neutral-focus);
  }

  .react-datepicker__current-month,
  .react-datepicker__day-name,
  .react-datepicker__day {
    color: #a6adba;
  }
}
