@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --global-nav-height: 4rem;

    --dashboard-nav-height: 8rem;
    --dashboard-nav-height-sm: 4rem;

    --journal-header-height: 4rem;
  }
}
